<?xml version="1.0"?>
<model>
  <name>ARDrone2 (Paparazzi)</name>
  <version>1.0</version>
  <sdf version='1.6'>range_sensors.sdf</sdf>

  <author>
   <name>Kimberly McGuire</name>
   <email>knmcguire@users.noreply.github.com</email>
  </author>

  <description>
     Model for a simple single beam ray sensor construction, pointed in all 3D directions (up down, front back, left right)

  </description>
</model>
