<?xml version="1.0"?>
<model>
  <name>Bebop 2 (Paparazzi) with SLAMDunk</name>
  <version>1.0</version>
  <sdf version='1.4'>bebop2_with_slamdunk.sdf</sdf>

  <author>
   <name>Tom van Dijk</name>
   <email>tomvand@users.noreply.github.com</email>
  </author>

  <description>
    Bebop 2 with SLAMDunk
  </description>
</model>
