<!DOCTYPE module SYSTEM "module.dtd">

<module name="settings" dir="core" task="core">
  <doc>
    <description>
      Settings interface
    </description>
  </doc>
  <dep>
    <provides>settings</provides>
  </dep>
  <header>
    <file name="settings.h"/>
  </header>
  <init fun="settings_init()"/>
  <makefile target="!fbw">
    <file name="settings.c"/>
    <file_arch name="settings_arch.c"/>
    <test/>
  </makefile>
</module>


