body {
	background-color: #EEEEEE;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

select{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	vertical-align: middle;
	background-color: #F5F5DC;
}
input {
 	border:1px solid black;
 	background-color:#F5F5DC;
 	font-size: 11px;
}

label {
 	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

span {
 	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

td {
 	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

#title {
	position : absolute;
	top : 0%;
	left : 0%;
	height : 5%;
	width : 100%;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-align : right;
	font-size : 11px;	
	background-color: #BC8F8F;
	border: 1px solid black;
}

#page {
	position : absolute;
	top  : 15%;
	left : 15%;
	width  : 70%;
	height : 65%;
	border: 1px solid black;
	background-color: #EEEEEE;
}


#modifImmat {
	position : absolute;
	top : 15%;
}


#modifPwd {
	position : absolute;
	top : 15%;
}


#modifRight {
	position : absolute;
	top : 15%;
}

#modifyUser {
	position : absolute;
	top : 15%;	
}

#createUser {
	position : absolute;
	top : 15%;
}

#mainForm {
	position : absolute;
	top : 15%;
}


#createIvyUser {
	position : absolute;
	top : 15%;
}

#listIvyUser {
	position : absolute;
	top : 15%;
}
