body
{
   width: 90%;
   margin-top: 5px;
   margin-bottom: 5px;
   margin-left:5%;
   margin-reight:5%;
   background-color: #CCFFCC;
   text-align:justify;
}

h3,h2
{
	color : navy;
	text-align:center;
	text-decoration:underline;
}
#problem
{
	color:red;
}