MCU_MODEL = STM32F427V(G-I)Tx
CHIBIOS_VERSION = 3.0

HEADER
/*
 * Board identifier.
 */
#define BOARD_PX4FMU
#define BOARD_NAME                  "Pixhawk PX4 FMU v 4.0"

/*
 * Board oscillators-related settings.
 */
#if !defined(STM32_LSECLK)
#define STM32_LSECLK                0
#endif

#if !defined(STM32_HSECLK)
#define STM32_HSECLK                24000000U
#endif

/*
 * Board voltages.
 * Required for performance limits calculation.
 */
#define STM32_VDD                   300U

/*
 * MCU type as defined in the ST header.
 */
#define STM32F427xx

CONFIG


# PIN NAME PERIPH_TYPE AF_NUMBER or
# PIN NAME FUNCTION PP_or_OPENDRAIN PIN_SPEED PULL_RESISTOR INITIAL_LEVEL AF_NUMBER
# SPEED : SPEED_VERYLOW, SPEED_LOW, SPEED_MEDIUM, SPEED_HIGH
#
# DEFAULT AND SYS
# 
# 'SYS' => ['ALTERNATE', 'PUSHPULL', 'SPEED_HIGH', 'FLOATING', 'LEVEL_HIGH'],
# 'ADC' => ['ANALOG', 'PUSHPULL', 'SPEED_HIGH', 'FLOATING', 'LEVEL_LOW'],
# 'PWM' => ['ALTERNATE', 'PUSHPULL', 'SPEED_HIGH', 'FLOATING', 'LEVEL_LOW'],
# 'ICU' => ['ALTERNATE', 'PUSHPULL', 'SPEED_HIGH', 'FLOATING', 'LEVEL_HIGH'],
# 'I2C' => ['ALTERNATE', 'OPENDRAIN', 'SPEED_HIGH', 'PULLUP', 'LEVEL_HIGH'],
# 'SPI' => ['ALTERNATE', 'PUSHPULL', 'SPEED_HIGH', 'FLOATING', 'LEVEL_HIGH'],
# 'UART' => ['ALTERNATE', 'PUSHPULL', 'SPEED_HIGH', 'PULLUP', 'LEVEL_HIGH'],
# 'OTG' => ['ALTERNATE', 'PUSHPULL', 'SPEED_HIGH', 'FLOATING', 'LEVEL_HIGH'],
# 'ETH' => ['ALTERNATE', 'PUSHPULL', 'SPEED_HIGH', 'FLOATING', 'LEVEL_HIGH'],
# 'FSMC' => ['ALTERNATE', 'PUSHPULL', 'SPEED_HIGH', 'FLOATING', 'LEVEL_HIGH'],
# 'SDIO' => ['ALTERNATE', 'PUSHPULL', 'SPEED_HIGH', 'PULLUP', 'LEVEL_HIGH'],
# 'SDIOCK' => ['ALTERNATE', 'PUSHPULL', 'SPEED_HIGH', 'FLOATING', 'LEVEL_HIGH'],
# 'CAN' => ['ALTERNATE', 'PUSHPULL', 'SPEED_HIGH', 'FLOATING', 'LEVEL_HIGH'],
# 'DCMI' => ['ALTERNATE', 'PUSHPULL', 'SPEED_HIGH', 'FLOATING', 'LEVEL_HIGH'],
# 'LED' => ['OUTPUT', 'PUSHPULL', 'SPEED_VERYLOW', 'FLOATING', 'LEVEL_LOW'],
# 'PASSIVE' => ['INPUT', 'PUSHPULL', 'SPEED_VERYLOW', 'FLOATING', 'LEVEL_LOW']);
#
# SYSTEM
A13     SWDIO     SYS  AF:SYS_JTMS-SWDIO
A14     SWCLK     SYS  AF:SYS_JTCK-SWCLK
H00     OSC_IN    SYS  AF0
H01     OSC_OUT   SYS  AF0

#DEFAULT
DEFAULT                 INPUT   PUSHPULL SPEED_VERYLOW PULLDOWN LEVEL_LOW  AF0

# ACTIVE PINS
PA00    USART4_TX           UART    AF:UART4_TX
PA01    USART4_RX           UART    AF:UART4_RX
PA02    VOLT_SENS           ADC     ADC1_IN2
PA03    CURRENT_SENS        ADC     ADC1_IN3
PA04    VDD_5V_SENS         ADC     ADC1_IN4
PA05    MPU9250_SCK         SPI     AF:SPI1_SCK
PA06    MPU9250_MISO        SPI     AF:SPI1_MISO
PA07    MPU9250_MOSI        SPI     AF:SPI1_MOSI
PA08    _8266_RTS           PASSIVE
PA09    USB_VBUS            INPUT   PULLDOWN 
PA10    FRSKY_INV           OUTPUT  PUSHPULL SPEED_VERYLOW FLOATING LEVEL_HIGH
PA11    OTG_FS_DM           OTG     AF:USB_OTG_FS_DM 
PA12    OTG_FS_DP           OTG     AF:USB_OTG_FS_DP 
PA15    ALARM               OUTPUT  PUSHPULL  SPEED_VERYLOW FLOATING LEVEL_HIGH

PB00    _RC_INPUT           PASSIVE
PB01    LED_GREEN           LED
PB02    BOOT1               PASSIVE
PB03    LED_BLUE            LED
PB04    _8266_GPIO2         PASSIVE
PB05    VDD_BRICK_VALID     PASSIVE
PB06    USART1_TX           UART    AF:USART1_TX
PB07    USART1_RX           UART    AF:USART1_RX
PB08    I2C1_SCL            I2C     AF:I2C1_SCL
PB09    I2C1_SDA            I2C     AF:I2C1_SDA
PB10    FRAM_SCK            SPI     AF:SPI2_SCK
PB11    LED_RED             LED
PB12    CAN2_RX             CAN     AF:CAN2_RX
PB13    CAN2_TX             CAN     AF:CAN2_TX
PB14    FRAM_MISO           SPI     AF:SPI2_MISO
PB15    FRAM_MOSI           SPI     AF:SPI2_MOSI

PC00    VBUS_VALID          PASSIVE
PC01    RSSI_IN             PASSIVE
PC02    MPU9250_CS          OUTPUT  PUSHPULL  SPEED_HIGH FLOATING LEVEL_HIGH
PC03    LED_SAFETY          LED                    
PC04    SAFETY_SW_IN        INPUT   FLOATING
PC05    VDD_3V3_EN          OUTPUT  PUSHPULL  SPEED_VERYLOW FLOATING LEVEL_HIGH
PC06    RC_OUTPUT           PASSIVE
PC07    RC_INPUT            UART    AF:USART6_RX
PC08    SDMMC1_D0           SDIO    AF:SDIO_D0 
PC09    SDMMC1_D1           SDIO    AF:SDIO_D1 
PC10    SDMMC1_D2           SDIO    AF:SDIO_D2 
PC11    SDMMC1_D3           SDIO    AF:SDIO_D3 
PC12    SDMMC1_CK           SDIO    AF:SDIO_CK 
PC13    SBUS_INV            OUTPUT  PUSHPULL SPEED_VERYLOW FLOATING LEVEL_HIGH
PC14    _20608_DRDY         PASSIVE
PC15    _20608_CS           OUTPUT  PUSHPULL SPEED_HIGH FLOATING LEVEL_HIGH

PD00    CAN1_RX             CAN     AF:CAN1_RX 
PD01    CAN1_TX             CAN     AF:CAN1_TX    
PD02    SDMMC1_CMD          SDIO    AF:SDIO_CMD 
PD03    USART2_CTS          PASSIVE
PD04    USART2_RTS          PASSIVE
PD05    USART2_TX           UART    AF:USART2_TX
PD06    USART2_RX           UART    AF:USART2_RX
PD07    BARO_CS             OUTPUT  PUSHPULL  SPEED_HIGH FLOATING LEVEL_HIGH
PD08    USART3_TX           UART    AF:USART3_TX
PD09    USART3_RX           UART    AF:USART3_RX
PD10    FRAM_CS             OUTPUT  PUSHPULL  SPEED_HIGH FLOATING LEVEL_HIGH     
PD11    USART3_CTS          PASSIVE         
PD12    USART3_RTS          PASSIVE
PD13    SERVO5              PWM     AF:TIM4_CH2 ()
PD14    SERVO6              PWM     AF:TIM4_CH3 ()
PD15    MPU9250_DRDY        INPUT   FLOATING

PE00    UART8_RX            UART    AF:UART8_RX
PE01    UART8_TX            UART    AF:UART8_TX
PE02    _8266_GPIO0         PASSIVE         
PE03    VDD_3V3_SENS_EN     OUTPUT  PUSHPULL  SPEED_VERYLOW FLOATING LEVEL_HIGH
PE04    SPEKTRUM_POWER      OUTPUT  PUSHPULL  SPEED_VERYLOW FLOATING LEVEL_HIGH         
PE05    _8266_PD            PASSIVE         
PE06    _8266_RST           PASSIVE
PE07    UART7_RX            UART    AF:UART7_RX
PE08    UART7_TX            UART    AF:UART7_TX        
PE09    SERVO4              PWM     AF:TIM1_CH1 ()    
PE10    _8266_CTS           PASSIVE    
PE11    SERVO3              PWM     AF:TIM1_CH2 ()
PE12    HMC5983_DRDY        INPUT   FLOATING
PE13    SERVO2              PWM     AF:TIM1_CH3 ()
PE14    SERVO1              PWM     AF:TIM1_CH4 ()
PE15    HMC_5983            OUTPUT  PUSHPULL  SPEED_HIGH FLOATING LEVEL_HIGH  
