*.so
*.[oa]
*.out

*~
*.swp

*.pyc

*.cmo
*.cma
*.cmi
*.cmx
*.cmxa

*.depend

*.aux

# Debian related files
*.deb
*.dsc
*.changes
*.substvars
*.debhelper.log
*-stamp
/debian/control
/debian/changelog
/debian/files
/debian/paparazzi-arm7
/debian/paparazzi-avr
/debian/paparazzi-dev
/debian/paparazzi-bin
/sw/lib/ocaml/ivy/debian/changelog
/sw/lib/ocaml/ivy/debian/files
/sw/lib/ocaml/ivy/debian/ivy-ocaml

/var
/dox

/paparazzi

# /conf/
/conf/conf.xml
/conf/conf.xml.20*
/conf/control_panel.xml
/conf/%gconf.xml
/conf/srtm_data/*

# /doc/pprz_algebra/
/doc/pprz_algebra/headfile.log
/doc/pprz_algebra/headfile.toc

# /sw/ground_segment/cockpit/
/sw/ground_segment/cockpit/gtk_save_settings.ml
/sw/ground_segment/cockpit/gtk_setting_time.ml
/sw/ground_segment/cockpit/gcs
/sw/ground_segment/cockpit/gtk_strip.ml

# /sw/ground_segment/lpc21iap/
/sw/ground_segment/lpc21iap/lpc21iap

# /sw/ground_segment/multimon/
/sw/ground_segment/multimon/costabf.c
/sw/ground_segment/multimon/mkcostab
/sw/ground_segment/multimon/multimon
/sw/ground_segment/multimon/costabi.c

# /sw/ground_segment/tmtc/
/sw/ground_segment/tmtc/ivy_tcp_aircraft
/sw/ground_segment/tmtc/settings
/sw/ground_segment/tmtc/messages
/sw/ground_segment/tmtc/ivy_tcp_controller
/sw/ground_segment/tmtc/link
/sw/ground_segment/tmtc/broadcaster
/sw/ground_segment/tmtc/dia
/sw/ground_segment/tmtc/ivy2udp
/sw/ground_segment/tmtc/server
/sw/ground_segment/tmtc/diadec

# /sw/ground_segment/joystick
/sw/ground_segment/joystick/input2ivy
/sw/ground_segment/joystick/test_stick

# /sw/lib/ocaml/
/sw/lib/ocaml/gtk_papget_editor.ml
/sw/lib/ocaml/gtk_papget_text_editor.ml
/sw/lib/ocaml/gtk_papget_gauge_editor.ml
/sw/lib/ocaml/expr_lexer.ml
/sw/lib/ocaml/expr_parser.ml
/sw/lib/ocaml/expr_parser.mli
/sw/lib/ocaml/gtk_papget_led_editor.ml
/sw/lib/ocaml/expr_lexer.ml

# /sw/logalizer/
/sw/logalizer/plot
/sw/logalizer/play
/sw/logalizer/plotter
/sw/logalizer/gtk_export.ml
/sw/logalizer/sd2log

# /sw/simulator/
/sw/simulator/gaia
/sw/simulator/simhitl
/sw/simulator/launchsitl

# /sw/supervision/
/sw/supervision/gtk_process.ml
/sw/supervision/paparazzicenter
/sw/supervision/gtk_pc.ml

# /sw/tools/
/sw/tools/fp_parser.ml
/sw/tools/wiki_gen/wiki_gen

# /sw/ground_segment/misc
/sw/ground_segment/misc/davis2ivy


# /sw/airborne/arch/lpc21/test/bootloader
/sw/airborne/arch/lpc21/test/bootloader/bl.dmp
/sw/airborne/arch/lpc21/test/bootloader/bl.hex
/sw/airborne/arch/lpc21/test/bootloader/bl.map
/sw/airborne/arch/lpc21/test/bootloader/bl.elf
/sw/airborne/arch/lpc21/test/bootloader/bl_ram.dmp
/sw/airborne/arch/lpc21/test/bootloader/bl_ram.hex
/sw/airborne/arch/lpc21/test/bootloader/bl_ram.map
/sw/airborne/arch/lpc21/test/bootloader/bl_ram.elf
/sw/airborne/arch/lpc21/test/bootloader/crt.lst

# /sw/airborne/test
/sw/airborne/test/test_geodetic
/sw/airborne/test/test_algebra
/sw/airborne/test/test_matrix
/sw/airborne/test/test_att
