# ignore html dir for github pages
/doc/generated
/doc/manual/generated

*.so
*.[oa]
*.out

*~
*.swp
*.swo

*.pyc

*.cmo
*.cma
*.cmi
*.cmx
*.cmxa

*.depend

*.aux

*.gdb_history

.cache.xml
.directory

# Eclipse IDE project files
*.cproject
*.project
*.externalToolBuilders
.settings
.pydevproject
.metadata
/build.properties
/META-INF

paparazzi.sublime-workspace

# JetBrains (PyCharm, etc) IDE project files
.idea

# QtCreator IDE
*.creator
*.creator.user*
*.config
*.files
*.includes

# Vagrant VM files
/.vagrant

# Rust
Cargo.lock

/var
/dox

# /conf/
/conf/conf.xml
/conf/conf.xml.20*
/conf/conf_personal.xml.20*
/conf/control_panel.xml
/conf/control_panel.xml.20*
/conf/%gconf.xml
/conf/maps_data/*
/conf/maps.xml
/conf/gps/ublox_conf
!/conf/simulator/gazebo/**/*.config
/conf/tools/blacklisted

# /doc/pprz_algebra/
/doc/pprz_algebra/headfile.log
/doc/pprz_algebra/headfile.toc

# /sw/ground_segment/cockpit/
/sw/ground_segment/cockpit/gtk_save_settings.ml
/sw/ground_segment/cockpit/gtk_setting_time.ml
/sw/ground_segment/cockpit/gcs
/sw/ground_segment/cockpit/gcs.opt
/sw/ground_segment/cockpit/gtk_strip.ml
/sw/ground_segment/cockpit/ant_track
/sw/ground_segment/cockpit/compass


# /sw/ground_segment/lpc21iap/
/sw/ground_segment/lpc21iap/lpc21iap

# /sw/ground_segment/multimon/
/sw/ground_segment/multimon/costabf.c
/sw/ground_segment/multimon/mkcostab
/sw/ground_segment/multimon/multimon
/sw/ground_segment/multimon/costabi.c

# /sw/ground_segment/tmtc/
/sw/ground_segment/tmtc/ivy_tcp_aircraft
/sw/ground_segment/tmtc/settings
/sw/ground_segment/tmtc/messages
/sw/ground_segment/tmtc/ivy_tcp_controller
/sw/ground_segment/tmtc/link
/sw/ground_segment/tmtc/broadcaster
/sw/ground_segment/tmtc/dia
/sw/ground_segment/tmtc/ivy2udp
/sw/ground_segment/tmtc/ivy2serial
/sw/ground_segment/tmtc/server
/sw/ground_segment/tmtc/server.opt
/sw/ground_segment/tmtc/diadec
/sw/ground_segment/tmtc/ivy_serial_bridge
/sw/ground_segment/tmtc/GSM/SMS_GS
/sw/ground_segment/tmtc/app_server
/sw/ground_segment/tmtc/gpsd2ivy
/sw/ground_segment/tmtc/ivy2nmea

# /sw/ground_segment/joystick
/sw/ground_segment/joystick/input2ivy
/sw/ground_segment/joystick/test_stick

/sw/in_progress/fdm/fdm_step
/sw/in_progress/fdm/fms_steps_attitude

# /sw/lib/ocaml/
/sw/lib/ocaml/gtk_papget_editor.ml
/sw/lib/ocaml/gtk_papget_text_editor.ml
/sw/lib/ocaml/gtk_papget_gauge_editor.ml
/sw/lib/ocaml/expr_lexer.ml
/sw/lib/ocaml/expr_parser.ml
/sw/lib/ocaml/expr_parser.mli
/sw/lib/ocaml/gtk_papget_led_editor.ml
/sw/lib/ocaml/expr_lexer.ml
/sw/lib/ocaml/META.pprz

# /sw/logalizer/
/sw/logalizer/logplotter
/sw/logalizer/play
/sw/logalizer/plotter
/sw/logalizer/gtk_export.ml
/sw/logalizer/sd2log
/sw/logalizer/plotprofile
/sw/logalizer/ctrlstick
/sw/logalizer/ffjoystick
/sw/logalizer/tmclient
/sw/logalizer/openlog2tlm
/sw/logalizer/ahrs2fg
/sw/logalizer/disp3d
/sw/logalizer/sdlogger_download

# /sw/simulator/
/sw/simulator/gaia
/sw/simulator/simhitl

# /sw/supervision/
/sw/supervision/gtk_process.ml
/sw/supervision/paparazzicenter
/sw/supervision/gtk_pc.ml

# /sw/tools/
/sw/tools/wiki_gen/wiki_gen
/sw/tools/mergelogs

# /sw/ground_segment/misc
/sw/ground_segment/misc/davis2ivy
/sw/ground_segment/misc/kestrel2ivy
/sw/ground_segment/misc/natnet2ivy
/sw/ground_segment/misc/sbp2ivy
/sw/ground_segment/misc/rtcm2ivy
/sw/ground_segment/misc/video_synchronizer
/sw/ground_segment/misc/ivy2serial
/sw/ground_segment/misc/sbs2ivy

# /sw/airborne/arch/lpc21/test/bootloader
/sw/airborne/arch/lpc21/test/bootloader/bl.dmp
/sw/airborne/arch/lpc21/test/bootloader/bl.hex
/sw/airborne/arch/lpc21/test/bootloader/bl.map
/sw/airborne/arch/lpc21/test/bootloader/bl.elf
/sw/airborne/arch/lpc21/test/bootloader/bl_ram.dmp
/sw/airborne/arch/lpc21/test/bootloader/bl_ram.hex
/sw/airborne/arch/lpc21/test/bootloader/bl_ram.map
/sw/airborne/arch/lpc21/test/bootloader/bl_ram.elf
/sw/airborne/arch/lpc21/test/bootloader/crt.lst

# /sw/airborne/test
/sw/airborne/test/test_geodetic
/sw/airborne/test/test_algebra
/sw/airborne/test/test_matrix
/sw/airborne/test/test_att

/sw/airborne/test/ahrs/run_ahrs_on_synth

# Mac OS X
.DS_Store

tests/results/*

*.dSYM

# K-develop
*.kate-swp
