MCU_MODEL = STM32F722R(C-E)Tx
CHIBIOS_VERSION = 3.0

HEADER
/*
 * Board identifier.
 */
#define BOARD_AIOF7
#define BOARD_NAME                  "AIO F7"

/*
 * Board oscillators-related settings.
 */
#if !defined(STM32_LSECLK)
#define STM32_LSECLK                32768U
#endif

#define STM32_LSEDRV                (3U << 3U)

#if !defined(STM32_HSECLK)
#define STM32_HSECLK                8000000U
#endif

/*
 * Board voltages.
 * Required for performance limits calculation.
 */
#define STM32_VDD                   300U

/*
 * MCU type as defined in the ST header.
 */
#define STM32F722xx

CONFIG


# PIN NAME PERIPH_TYPE AF_NUMBER or
# PIN NAME FUNCTION PP_or_OPENDRAIN PIN_SPEED PULL_RESISTOR INITIAL_LEVEL AF_NUMBER
# SPEED : SPEED_VERYLOW, SPEED_LOW, SPEED_MEDIUM, SPEED_HIGH
#
# DEFAULT AND SYS
# 
# 'SYS' => ['ALTERNATE', 'PUSHPULL', 'SPEED_HIGH', 'FLOATING', 'LEVEL_HIGH'],
# 'ADC' => ['ANALOG', 'PUSHPULL', 'SPEED_HIGH', 'FLOATING', 'LEVEL_LOW'],
# 'PWM' => ['ALTERNATE', 'PUSHPULL', 'SPEED_HIGH', 'FLOATING', 'LEVEL_LOW'],
# 'ICU' => ['ALTERNATE', 'PUSHPULL', 'SPEED_HIGH', 'FLOATING', 'LEVEL_HIGH'],
# 'I2C' => ['ALTERNATE', 'OPENDRAIN', 'SPEED_HIGH', 'PULLUP', 'LEVEL_HIGH'],
# 'SPI' => ['ALTERNATE', 'PUSHPULL', 'SPEED_HIGH', 'FLOATING', 'LEVEL_HIGH'],
# 'UART' => ['ALTERNATE', 'PUSHPULL', 'SPEED_HIGH', 'PULLUP', 'LEVEL_HIGH'],
# 'OTG' => ['ALTERNATE', 'PUSHPULL', 'SPEED_HIGH', 'FLOATING', 'LEVEL_HIGH'],
# 'ETH' => ['ALTERNATE', 'PUSHPULL', 'SPEED_HIGH', 'FLOATING', 'LEVEL_HIGH'],
# 'FSMC' => ['ALTERNATE', 'PUSHPULL', 'SPEED_HIGH', 'FLOATING', 'LEVEL_HIGH'],
# 'SDIO' => ['ALTERNATE', 'PUSHPULL', 'SPEED_HIGH', 'PULLUP', 'LEVEL_HIGH'],
# 'SDIOCK' => ['ALTERNATE', 'PUSHPULL', 'SPEED_HIGH', 'FLOATING', 'LEVEL_HIGH'],
# 'CAN' => ['ALTERNATE', 'PUSHPULL', 'SPEED_HIGH', 'FLOATING', 'LEVEL_HIGH'],
# 'DCMI' => ['ALTERNATE', 'PUSHPULL', 'SPEED_HIGH', 'FLOATING', 'LEVEL_HIGH'],
# 'LED' => ['OUTPUT', 'PUSHPULL', 'SPEED_VERYLOW', 'FLOATING', 'LEVEL_LOW'],
# 'PASSIVE' => ['INPUT', 'PUSHPULL', 'SPEED_VERYLOW', 'FLOATING', 'LEVEL_LOW']);
#
# SYSTEM
A13     SWDIO     SYS  AF:SYS_JTMS-SWDIO
A14     SWCLK     SYS  AF:SYS_JTCK-SWCLK
# C14     OSC32_IN  SYS  AF0
# C15     OSC32_OUT SYS  AF0
H00     OSC_IN    SYS  AF0
H01     OSC_OUT   SYS  AF0

#DEFAULT
DEFAULT                 INPUT   PUSHPULL SPEED_VERYLOW PULLDOWN LEVEL_LOW  AF0



# ACTIVE PINS



PA00    MOTOR_4		    PWM 	    AF:TIM5_CH1 ()
PA01    MOTOR_3		    PWM 	    AF:TIM5_CH2 ()
PA02    UART2_TX		UART	    AF:USART2_TX
PA03    UART2_RX	    UART	    AF:USART2_RX    
PA04    GYRO_CS_1       OUTPUT	    PUSHPULL  SPEED_HIGH FLOATING LEVEL_HIGH
PA05    SPI1_CLK        SPI		    AF:SPI1_SCK
PA06    SPI1_MISO       SPI		    AF:SPI1_MISO  
PA07    SPI1_MOSI       SPI		    AF:SPI1_MOSI   
PA08    AUX             PWM 	    AF:TIM1_CH1 ()
PA09    UART1_TX	    UART	    AF:USART1_TX    
PA10	UART1_RX	    UART	    AF:USART1_RX       
PA11    OTG_FS_DM	    OTG		    AF:USB_OTG_FS_DM
PA12    OTG_FS_DP	    OTG		    AF:USB_OTG_FS_DP
PA15    OSD_CS	        OUTPUT	    PUSHPULL  SPEED_HIGH FLOATING LEVEL_HIGH

PB00	MOTOR_1		    PWM 	    AF:TIM3_CH3 ()
PB01	MOTOR_2		    PWM 	    AF:TIM3_CH4 ()
PB02    GYRO_EXTI_2	    INPUT       PULLUP                    
PB03    SPI3_CLK        SPI		    AF:SPI3_SCK
PB04    SPI3_MISO       SPI		    AF:SPI3_MISO  
PB05    SPI3_MOSI       SPI		    AF:SPI3_MOSI   
PB06    MOTOR_5		    PWM 	    AF:TIM4_CH1 ()
PB07    MOTOR_6		    PWM 	    AF:TIM4_CH2 ()
PB08    I2C1_SCL        I2C		    AF:I2C1_SCL 
PB09    I2C1_SDA        I2C		    AF:I2C1_SDA 
PB10    UART3_TX	    UART	    AF:USART3_TX    
PB11    RC1     	    UART	    AF:USART3_RX ()   
PB12    FLASH_CS        OUTPUT	    PUSHPULL  SPEED_HIGH FLOATING LEVEL_HIGH
PB13    SPI2_CLK        SPI		    AF:SPI2_SCK
PB14    SPI2_MISO       SPI		    AF:SPI2_MISO  
PB15    SPI2_MOSI       SPI		    AF:SPI2_MOSI     
	                    
PC00    VBAT_MEAS	    ADC		    ADC1_IN10 ()
# PC01    ADC_CURR		ADC	                                #TODO
# PC02    ADC_RSSI        ADC	                                #TODO
PC03    GYRO_CS_2       OUTPUT	    PUSHPULL  SPEED_HIGH FLOATING LEVEL_HIGH
PC04    GYRO_EXTI_1		INPUT       PULLUP          
PC06    UART6_TX	    UART	    AF:USART6_TX    
PC07    UART6_RX	    UART	    AF:USART6_RX     
PC10	UART4_TX	    UART	    AF:UART4_TX    
PC11	UART4_RX	    UART	    AF:UART4_RX
PC12	UART5_TX	    UART	    AF:UART5_TX   
PC13    BARO_CS         OUTPUT	    PUSHPULL  SPEED_HIGH FLOATING LEVEL_HIGH
PC14    BEEPER          OUTPUT	    PUSHPULL  SPEED_HIGH FLOATING LEVEL_LOW	       
PC15    LED             LED	     
	                    
PD02	UART5_RX	    UART	    AF:UART5_RX




# GROUPS
GROUP   ENERGY_SAVE_INPUT   %NAME=~/^AUX_[A-B][0-9]+|LED[0-9]+|.*_CS$/
