<?xml version="1.0"?>
<model>
  <name>Bebop w. stereo camera (Paparazzi)</name>
  <version>1.0</version>
  <sdf version='1.4'>bebop_w_stereo_cams.sdf</sdf>

  <author>
   <name>Ralph Rudi Schmidt</name>
   <email>ralph.r.schmidt@outlook.com</email>
  </author>

  <description>
    Simple Bebop model which includes stereo vision and no downwards facing camera (http://wiki.paparazziuav.org).
  </description>
</model>
