Source: ivy-ocaml
Section: net
Priority: optional
Maintainer: Pascal Brisset (Hecto) <pascal.brisset@enac.fr>
Build-Depends: debhelper (>= 4.0.0), ocaml-nox, ivy-c-dev (>=3.8), libglib2.0-dev, libpcre3-dev, ivy-c(>=3.8)
Standards-Version: 3.6.1

Package: ivy-ocaml
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ocaml-nox-${F:OCamlABI}, ivy-c(>= 3.8)
Description: Ocaml binding for the Ivy software bus
 This package provides the bindings for the Ivy software bus. Standalone
 linking and with the glib mainloop are provided.
