body
{
   background-color: #CCFFCC;    
   margin: 0%;
   padding: 0%;
   outline: 0%;
   height: 95%;
}
#page
{
	width: 100%;
	height: 95%;
}

#logo
{
   width: 960px;
   height: 100px;
   background-image: url("banniere.jpg");
   background-repeat: repeat-x;
   margin-bottom: 10px;
}

#leftmenu
{
 /*  float: left; /* Le menu flottera à gauche */
  /* width: 120px; *//* Très important : donner une taille au menu */
}
#welcome
{
   text-align: center;
   background-color: #EEEEEE;
   border: 2px solid black;
   margin-bottom: 10px; /* Pour éviter que les éléments du menu ne soient trop collés */
}
#choice
{
float: left;
   text-align: center;
   background-color: #EEEEEE;
   border: 2px solid black;
   height: 190px;
   width: 20px;
}
#map_canvas
{	
	width: 690px; 
	height: 350px;
	margin-left: 125px;
}

#FlightPlan
{
   float: right;
   width: 135px; /* Très important : donner une taille au menu */
   height: 345px;
   border: 2px solid black;
   background-color: #EEEEEE;
}


   
#ControlPanel
{
   float: left;
   text-align: center;
   height: 150px;
   width: 600px;
   border: 2px solid black;
   background-color: #EEEEEE;
}
#FlightParams
{
   text-align: center;
   float: right;
   height: 150px;
   width: 350px;
   border: 2px solid black;
   background-color: #EEEEEE;
}
table
{
   margin-left: 20px;
   margin-bottom: 20px;
}

   