<?xml version="1.0"?>

<conf>
<!-- arm7 aircrafts -->

 <!-- tiny -->
  <aircraft 
    name="MJ5"
    ac_id="5"
    airframe="airframes/microjet5.xml" 
    radio="radios/cockpitMM.xml" 
    telemetry="telemetry/default.xml"
    flight_plan="flight_plans/muret_demo_1.xml"
    gui_color="#6293ba"
  />
 <!-- classix -->
  <aircraft 
    name="TJ1"
    ac_id="6"
    airframe="airframes/twinjet1.xml" 
    radio="radios/cockpitMM.xml" 
    telemetry="telemetry/default.xml"
    flight_plan="flight_plans/versatile.xml"
    settings="settings/tuning.xml settings/gyro.xml"
    gui_color="#ba6293"
  />

 <aircraft
    name="BOOZ"
    ac_id="148"
    airframe="airframes/booz.xml"
    radio="radios/cockpitSX.xml"
    telemetry="telemetry/booz.xml"
    settings="settings/booz.xml"
    flight_plan="flight_plans/booz_test_1.xml"
  />

</conf>
