<?xml version="1.0"?>

<control_panel name="paparazzi control panel">

  <section name="hosts">
   <host name="localhost"/>
   <host name="dolis" ip="192.168.1.33"/>
   <host name="benito"/>
  </section>

  <section name="variables">
    <variable name="render" value="1"/>
    <variable name="downlink_serial_port" value="/dev/ttyUSB0"/>
    <variable name="fbw_serial_port"      value="/dev/ttyS1"/>
    <variable name="ap_serial_port"       value="/dev/ttyS0"/>
    <variable name="ivy_bus"              value="127:2010"/>
    <variable name="map"                  value="muret_UTM.xml"/>
    <variable name="flight_plan"          value="flight_plans/muret1.xml"/>
    <variable name="multimon_demod"       value="AFSK4800_P"/>
  </section>

  <section name="programs">
    <program name="receive" command="sw/ground_segment/tmtc/receive">
      <arg flag="-b" variable="ivy_bus"/>
    </program>
    <program name="multimon" command="sw/ground_segment/multimon/multimon">
      <arg flag="-a" variable="multimon_demod"/>
    </program>
    <program name="modem" command="sw/ground_segment/tmtc/hw_modem_listen">
      <arg flag="-b" variable="ivy_bus"/>
    </program>
    <program name="cockpit" command="sw/ground_segment/cockpit/cockpit.pl">
      <arg flag="-b" variable="ivy_bus"/>
      <arg flag="-r" variable="render"/>
    </program>
    <program name="map 2d" command="sw/ground_segment/cockpit/map.pl">
      <arg flag="-b" variable="ivy_bus"/>
      <arg flag="-m" variable="map"/>
      <arg flag="-f" variable="flight_plan"/>
      <arg flag="-r" variable="render"/>
    </program>
    <program name="map 2d ml" command="sw/ground_segment/cockpit/map2d">
      <arg flag="-b" variable="ivy_bus"/>
      <arg flag="-m" variable="map"/>
    </program>
    <program name="map 3d" command="sw/ground_segment/visu3d/mapGL">
      <arg flag="-b" variable="ivy_bus"/>
      <arg flag="-m" variable="map"/>
      <arg flag="-f" variable="flight_plan"/>
    </program>
    <program name="mission" command="sw/ground_segment/cockpit/mission.pl">
      <arg flag="-b" variable="ivy_bus"/>
      <arg flag="-m" variable="map"/>
      <arg flag="-f" variable="flight_plan"/>
    </program>
    <program name="messages" command="sw/ground_segment/tmtc/messages">
      <arg flag="-b" variable="ivy_bus"/>
    </program>
    <program name="speech" command="sw/ground_segment/speech/paparazzi_speak.pl">
      <arg flag="-b" variable="ivy_bus"/>
<!--      <arg flag="-t" variable="paparazzi_home"/> -->
    </program>
    <program name="wind" command ="sw/ground_segment/wind/wind"><arg flag="-b" variable="ivy_bus"/></program>
    <program name="plot" command ="sw/logalizer/plot.pl"/>
    <program name="play" command="sw/logalizer/play">
      <arg flag="-b" variable="ivy_bus"/>
    </program>
    <program name="sim" command="sw/simulator/simsitl.pl">
      <arg flag="-b" variable="ivy_bus"/>
    </program>
    <program name="hitl" command="sw/simulator/simhitl">
      <arg flag="-fbw" variable="fbw_serial_port"/>
      <arg flag="-ap" variable="ap_serial_port"/>
    </program>
    <program name="gaia" command="sw/simulator/gaia">
      <arg flag="-b" variable="ivy_bus"/>
    </program>
    <program name="configurator" command="sw/configurator/configurator"/>
    <program name="medit" command="sw/configurator/medit"/>
    <program name="make aircraft" command="sw/configurator/configurator"/>
    <program name="http server" command="sw/ground_segment/tmtc/boa"/>
    <program name="stereo" command="sw/ground_segment/tmtc/stereo_demod"/>

 </section>

  <section name="sessions">
    <session name="Sim 1@Garmisch : 192.168.1">
      <variable name="ivy_bus" value="192.168.1:2010"/>
      <variable name="map" value="garmisch.xml"/>
      <program name="receive"><arg flag="-n"/><arg flag="-http"/></program>
      <program name="http server"/>     
      <program name="sim"><arg flag="-a" constant="Twin1"/></program>
      <program name="cockpit"><arg flag="-render" constant="0"/></program>
      <program name="map 2d ml"/>
      <program name="messages"><arg flag="-c" constant="telemetry_ap:*"/><arg flag="-c" constant="ground:ground"/></program>
      <program name="gaia"/>
    </session>

    <session name="Sim 2@Garmisch">
      <variable name="map" value="garmisch.xml"/>
      <program name="receive"/>     
      <program name="gaia"/>
      <program name="sim"><arg flag="-a" constant="Twin1"/></program>
      <program name="sim"><arg flag="-a" constant="Twin2"/></program>
      <program name="cockpit"></program>
      <program name="map 2d ml"/>
      <program name="messages"><arg flag="-c" constant="telemetry_ap:*"/><arg flag="-c" constant="ground"/></program>
    </session>

    <session name="Client 192.168.1">
       <variable name="ivy_bus" value="192.168.1:2010"/>
       <program name="cockpit"></program>
      <program name="map 2d ml"/>
      <program name="messages"><arg flag="-c" constant="ground"/></program>
    </session>

  <session name="Replay MAV05">
      <variable name="map" value="garmisch.xml"/>
      <program name="receive"><arg flag="-n"/></program>
      <program name="cockpit"></program>
      <program name="map 2d ml"/>
      <program name="play"/>
      <program name="gaia"/>
      <program name="messages"><arg flag="-c" constant="telemetry_ap:*"/><arg flag="-c" constant="ground:ground"/></program>
    </session>

   <session name="Flight audio+tty @Garmish">
      <variable name="map" value="garmisch.xml"/>
      <program name="multimon"><arg flag="-p" constant="/tmp/multimon"/></program>
      <program name="modem"><arg flag="-d" constant="/tmp/multimon"/></program>
      <program name="modem"><arg flag="-d" constant="/dev/ttyUSB0"/></program>
      <program name="receive"/>     
      <program name="messages"><arg flag="-c" constant="telemetry_ap:*"/><arg flag="-c" constant="ground"/></program>
      <program name="cockpit"/>
      <program name="map 2d ml"/>
    </session>
  </section>

</control_panel>
