<?xml version="1.0"?>

<control_panel name="paparazzi control panel">

  <section name="variables">
    <variable name="render" value="1"/>
    <variable name="downlink_serial_port" value="/dev/ttyUSB0"/>
    <variable name="fbw_serial_port"      value="/dev/ttyS1"/>
    <variable name="ap_serial_port"       value="/dev/ttyS0"/>
    <variable name="ivy_bus"              value="127:2010"/>
    <variable name="map"                  value="muret_UTM.xml"/>
    <variable name="flight_plan"          value="flight_plans/muret1.xml"/>
  </section>

  <section name="programs">
    <program name="server" command="sw/ground_segment/tmtc/server">
      <arg flag="-b" variable="ivy_bus"/>
    </program>
    <program name="link" command="sw/ground_segment/tmtc/link">
      <arg flag="-b" variable="ivy_bus"/>
    </program>
    <program name="cockpit" command="sw/ground_segment/cockpit/cockpit.pl">
      <arg flag="-b" variable="ivy_bus"/>
      <arg flag="-r" variable="render"/>
    </program>
    <program name="map 2d" command="sw/ground_segment/cockpit/map2d">
      <arg flag="-b" variable="ivy_bus"/>
    </program>
    <program name="map 3d" command="sw/ground_segment/visu3d/mapGL">
      <arg flag="-b" variable="ivy_bus"/>
      <arg flag="-m" variable="map"/>
      <arg flag="-f" variable="flight_plan"/>
    </program>
    <program name="messages" command="sw/ground_segment/tmtc/messages">
      <arg flag="-b" variable="ivy_bus"/>
    </program>
    <program name="speech" command="sw/ground_segment/speech/paparazzi_speak.pl">
      <arg flag="-b" variable="ivy_bus"/>
    </program>
    <program name="wind" command ="sw/ground_segment/wind/wind">
      <arg flag="-b" variable="ivy_bus"/>
    </program>
    <program name="plot" command ="sw/logalizer/plot.pl"/>
    <program name="play" command="sw/logalizer/play">
      <arg flag="-b" variable="ivy_bus"/>
    </program>
    <program name="sim" command="sw/simulator/simsitl.pl">
      <arg flag="-b" variable="ivy_bus"/>
    </program>
    <program name="hitl" command="sw/simulator/simhitl">
      <arg flag="-fbw" variable="fbw_serial_port"/>
      <arg flag="-ap" variable="ap_serial_port"/>
    </program>
    <program name="gaia" command="sw/simulator/gaia">
      <arg flag="-b" variable="ivy_bus"/>
    </program>
    <program name="http server" command="sw/ground_segment/tmtc/boa"/>
 </section>
  



  <section name="sessions">

    <session name=" Sim1@Muret">
      <program name="server"><arg flag="-n"/></program>
      <program name="sim"><arg flag="-a" constant="Twin3"/></program>
      <program name="cockpit">
        <arg flag="-render" constant="1"/>     
        <arg flag="-vertical" constant="1"/>
      </program>
      <program name="map 2d">
        <arg flag="-mercator" constant=""/>
        <arg flag="-ref" constant="WGS84 43.4623 1.2730"/>
        <arg flag="-center" constant="WGS84 43.4623 1.2730"/>
        <arg flag="-zoom" constant="0.75"/>
        <arg flag="-strip" constant=""/>
      </program> 
      <program name="gaia"/>
    </session>

    <session name="Generic sim">
      <program name="server"/>     
      <program name="map 2d ml">
        <arg flag="-mercator" constant=""/>
        <arg flag="-google_fill" constant=""/>
        <arg flag="-center_ac" constant=""/>
        <arg flag="-no_alarm" constant=""/>
<!--    <arg flag="-mplayer" constant="rtsp://localhost:7070/webcam"/> -->
      </program>
      <program name="sim"><arg flag="-a" constant="Plaster"/></program>
    </session>


  </section>

</control_panel>
