<?xml version="1.0"?>
<model>
  <name>Striped curtain</name>
  <version>1.0</version>
  <sdf version='1.6'>curtain_striped.sdf</sdf>

  <author>
   <name>Tom van Dijk</name>
   <email>tomvand@users.noreply.github.com</email>
  </author>

  <description>
    Striped curtain for the TU Delft Cyberzoo
  </description>
</model>