<?xml version="1.0"?>
<model>
  <name>Airport mat</name>
  <version>1.0</version>
  <sdf version='1.6'>airport_mat.sdf</sdf>

  <author>
   <name>Tom van Dijk</name>
   <email>tomvand@users.noreply.github.com</email>
  </author>

  <description>
    Airport mat for the TU Delft Cyberzoo
  </description>
</model>