<?xml version="1.0"?>
<model>
  <name>Simple quad (Paparazzi)</name>
  <version>1.0</version>
  <sdf version='1.4'>simple_quad.sdf</sdf>

  <author>
   <name>Kirk Scheper</name>
   <email>kirkscheper@users.noreply.github.com</email>
  </author>

  <description>
    Simple quadrotor model in a plus coniguration for use with Paparazzi's NPS (http://wiki.paparazziuav.org).
  </description>
</model>
