<?xml version="1.0"?>
<model>
  <name>Bebop (Paparazzi)</name>
  <version>1.0</version>
  <sdf version='1.4'>bebop.sdf</sdf>

  <author>
   <name>Tom van Dijk</name>
   <email>tomvand@users.noreply.github.com</email>
  </author>

  <description>
    Simple Bebop model for use with Paparazzi's NPS (http://wiki.paparazziuav.org).
  </description>
</model>
