<?xml version="1.0"?>
<model>
  <name>Textured panel 3m (Corridor 1)</name>
  <version>1.0</version>
  <sdf version='1.6'>textured_panel_3m.sdf</sdf>

  <author>
   <name>Tom van Dijk</name>
   <email>tomvand@users.noreply.github.com</email>
  </author>

  <description>
    Textured panel for the TU Delft Cyberzoo
  </description>
</model>