<?xml version="1.0"?>
<model>
  <name>Metal panel 1</name>
  <version>1.0</version>
  <sdf version='1.6'>brick_sphere_1.sdf</sdf>

  <author>
   <name>Lars Schmidt</name>
   <email>hildestr@hotmail.de</email>
  </author>

  <description>
    A sphere for Ralphs thesis project (2020)
  </description>
</model>