<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletPow</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Greeting</display-name>
    <servlet-name>Greeting</servlet-name>
    <servlet-class>pow.webserver.Greeting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Greeting</servlet-name>
    <url-pattern>/Greeting.srv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Pushlet</display-name>
    <servlet-name>Pushlet</servlet-name>
    <servlet-class>nl.justobjects.pushlet.servlet.Pushlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pushlet</servlet-name>
    <url-pattern>/pushlet.srv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ivy2TomcatHttpServer</display-name>
    <servlet-name>Ivy2TomcatHttpServer</servlet-name>
    <servlet-class>pow.webserver.Ivy2TomcatHttpServer</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ivy2TomcatHttpServer</servlet-name>
    <url-pattern>/Ivy2TomcatHttpServer.srv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ajaxRqst</display-name>
    <servlet-name>ajaxRqst</servlet-name>
    <servlet-class>pow.webserver.AjaxRqst</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ajaxRqst</servlet-name>
    <url-pattern>/ajaxRqst.srv</url-pattern>
  </servlet-mapping>
</web-app>