<?xml version="1.0"?>
<model>
  <name>SLAMDunk</name>
  <version>1.0</version>
  <sdf version='1.4'>slamdunk.sdf</sdf>

  <author>
   <name>Tom van Dijk</name>
   <email>tomvand@users.noreply.github.com</email>
  </author>

  <description>
    Approximate parrot SLAMDunk model
  </description>
</model>
