<?xml version="1.0"?>
<model>
  <name>Orange pole</name>
  <version>1.0</version>
  <sdf version='1.6'>orange_pole.sdf</sdf>

  <author>
   <name>Tom van Dijk</name>
   <email>tomvand@users.noreply.github.com</email>
  </author>

  <description>
    Orange pole obstacle from the TU Delft Cyberzoo
  </description>
</model>