<?xml version="1.0"?>
<model>
  <name>Orange Pole</name>
  <version>1.0</version>
  <sdf version='1.4'>orange_pole.sdf</sdf>

  <author>
   <name>Tom van Dijk</name>
   <email>tomvand@users.noreply.github.com</email>
  </author>

  <description>
    Orange pole as used in the TU Delft Cyberzoo.
  </description>
</model>